@gohighlevel:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${GITHUB_PKG_AUTH_TOKEN}

@platform-ui:registry=https://us-central1-npm.pkg.dev/highlevel-staging/frontend-core/
//us-central1-npm.pkg.dev/highlevel-staging/frontend-core/:_authToken=${GOOGLE_PKG_AUTH_TOKEN}

@ghl-plugins:registry=https://us-central1-npm.pkg.dev/highlevel-staging/ghl-plugins/
//us-central1-npm.pkg.dev/highlevel-staging/ghl-plugins/:_authToken=${GOOGLE_PKG_AUTH_TOKEN}

always-auth=true
fund=false
audit=false
